@font-face {
  font-family: "Margon";
  src: url("../fonts/margon.eot");
  /* IE9*/
  src: url("../fonts/margon.eot?#iefix") format("embedded-opentype"), url("../fonts/margon.woff2") format("woff2"), url("../fonts/margon.woff") format("woff"), url("../fonts/margon.ttf") format("truetype"), url("../fonts/margon.svg#Margon 400 Italic W08 Regular") format("svg");
  /* iOS 4.1- */ }
h2 {
  font: 36px "Margon", Times; }

h3 {
  font: 21px "Margon", Times; }

h4, .rssincl-itemtitle {
  font: 21px arial; }

p {
  font: 14px/21px arial; }

ul {
  padding: 0; }
  ul li {
    font-size: 14px;
    margin: 0;
    padding: 0; }

.button, button {
  border-radius: 0;
  border: 1px solid #151416;
  font: 18px "Margon", Times;
  color: #151416;
  padding: 15px 25px;
  background: none;
  height: auto;
  text-transform: none;
  margin: 0 auto; }

.align-center {
  text-align: center; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  border-radius: 0;
  border-color: #151416; }

hr {
  color: #333333;
  background-color: #333333;
  border-color: #333333; }

.logo {
  width: 547px;
  height: 83px;
  background: url("../img/logo.png") 0 0 no-repeat;
  text-indent: -999px;
  overflow: hidden;
  margin-bottom: 30px; }

#primary-nav {
  background: #151416;
  height: 93px;
  line-height: 93px;
  transition: all 0.5s; }
  #primary-nav .logo {
    opacity: 0;
    width: 300px;
    background-size: 100%;
    height: 43px;
    margin: 13px 0;
    transition: all 0.5s;
    display: block; }
  #primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; }
    #primary-nav ul li {
      display: inline-block;
      font: 21px "Margon", Times;
      color: #FFE59A; }
      #primary-nav ul li:after {
        font-family: arial;
        content: ".";
        padding: 0 30px; }
      #primary-nav ul li:last-child:after {
        display: none; }
      #primary-nav ul li a {
        color: #FFE59A; }

#wrap.fixed #primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 73px;
  line-height: 73px; }
  #wrap.fixed #primary-nav .logo {
    opacity: 1; }
  #wrap.fixed #primary-nav ul li {
    font-size: 18px; }
    #wrap.fixed #primary-nav ul li a:focus {
      outline: none;
      color: #FFF; }
#wrap.fixed section {
  padding-top: 73px; }

.page__blog {
  padding-top: 74px;
  background: url("../img/bg3.jpg") 0 0 no-repeat fixed;
  background-size: 100% 100%; }
  .page__blog a {
    color: #151416; }
  .page__blog article {
    background: rgba(179, 179, 179, 0.5);
    padding: 30px;
    margin-top: 30px; }
  .page__blog .page__blog--list img {
    max-width: 100%; }
  .page__blog .page__blog--list p, .page__blog .page__blog--list caption, .page__blog .page__blog--list li {
    margin-bottom: 15px;
    color: #333333; }
  .page__blog .page__blog--list blockquote {
    font: 21px "Margon", Times;
    color: #333333;
    border-color: #333333; }
  .page__blog .page__blog--list footer {
    font-size: 12px;
    font-style: italic;
    border-top: 1px solid #606c76;
    padding-top: 10px;
    color: #606c76;
    margin-top: 10px; }
  .page__blog .tags {
    list-style: none;
    margin: 0;
    padding: 0; }
    .page__blog .tags li {
      display: inline; }
  .page__blog--footer {
    margin-top: 15px;
    padding: 15px 0;
    color: #333333; }

/*# sourceMappingURL=blog.css.map */
