@font-face {
  font-family: "Margon";
  src: url("../fonts/margon.eot");
  /* IE9*/
  src: url("../fonts/margon.eot?#iefix") format("embedded-opentype"), url("../fonts/margon.woff2") format("woff2"), url("../fonts/margon.woff") format("woff"), url("../fonts/margon.ttf") format("truetype"), url("../fonts/margon.svg#Margon 400 Italic W08 Regular") format("svg");
  /* iOS 4.1- */ }
h2 {
  font: 36px "Margon", Times; }

h3 {
  font: 21px "Margon", Times; }

h4, .rssincl-itemtitle {
  font: 21px arial; }

p {
  font: 14px/21px arial; }

ul {
  padding: 0; }
  ul li {
    font-size: 14px;
    margin: 0;
    padding: 0; }

.button, button {
  border-radius: 0;
  border: 1px solid #151416;
  font: 18px "Margon", Times;
  color: #151416;
  padding: 15px 25px;
  background: none;
  height: auto;
  text-transform: none;
  margin: 0 auto; }

.align-center {
  text-align: center; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select {
  border-radius: 0;
  border-color: #151416; }

hr {
  color: #333333;
  background-color: #333333;
  border-color: #333333; }

.logo {
  width: 547px;
  height: 83px;
  background: url("../img/logo.png") 0 0 no-repeat;
  text-indent: -999px;
  overflow: hidden;
  margin-bottom: 30px; }

#primary-nav {
  background: #151416;
  height: 93px;
  line-height: 93px;
  transition: all 0.5s; }
  #primary-nav .logo {
    opacity: 0;
    width: 300px;
    background-size: 100%;
    height: 43px;
    margin: 13px 0;
    transition: all 0.5s;
    display: block; }
  #primary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap; }
    #primary-nav ul li {
      display: inline-block;
      font: 21px "Margon", Times;
      color: #FFE59A; }
      #primary-nav ul li:after {
        font-family: arial;
        content: ".";
        padding: 0 30px; }
      #primary-nav ul li:last-child:after {
        display: none; }
      #primary-nav ul li a {
        color: #FFE59A; }

#wrap.fixed #primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 73px;
  line-height: 73px; }
  #wrap.fixed #primary-nav .logo {
    opacity: 1; }
  #wrap.fixed #primary-nav ul li {
    font-size: 18px; }
    #wrap.fixed #primary-nav ul li a:focus {
      outline: none;
      color: #FFF; }
#wrap.fixed section {
  padding-top: 73px; }

#header {
  background: url("../img/topo.jpg") center 0 no-repeat;
  background-size: cover;
  height: 578px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end; }

#servicos {
  background: url("../img/bg1.jpg") 0 0 no-repeat;
  background-size: cover;
  padding-bottom: 100px; }
  #servicos:before {
    width: 100%;
    height: 459px;
    background: gray;
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5; }
  #servicos h2 {
    font: 32px/38px "Margon", Times;
    text-align: center;
    color: #151416;
    padding: 70px 0; }
    #servicos h2 strong {
      font-size: 50px;
      display: block; }
  #servicos h3 {
    color: #151416;
    font-size: 21px; }
    #servicos h3 strong {
      font-weight: bold;
      text-transform: uppercase;
      display: block; }
  #servicos p, #servicos li {
    color: #151416; }

.darker .column, .rss-entry {
  background: rgba(204, 204, 204, 0.7);
  margin: 0 15px;
  padding-bottom: 100px;
  position: relative; }
  .darker .column img, .rss-entry img {
    margin: 0 -8px 10px;
    width: 105.9%; }
  .darker .column p.align-center, .rss-entry p.align-center {
    position: absolute;
    bottom: 0;
    width: 315px;
    text-align: center; }

#perfil {
  background: url("../img/bg2.jpg") center center no-repeat;
  background-size: cover;
  min-height: 751px;
  color: #B3B3B3;
  display: flex;
  align-items: center; }
  #perfil h3 span {
    display: block; }
  #perfil .button {
    color: #B3B3B3;
    border-color: #B3B3B3; }

#blog {
  background: url("../img/bg3.jpg") center center no-repeat;
  background-size: cover;
  padding: 150px 0; }
  #blog .rss-content {
    display: flex;
    padding: 0;
    width: 100%; }
  #blog .rss-entry {
    display: block;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    padding: 15px 15px 70px 15px;
    position: relative; }
  #blog h3 {
    font-size: 36px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 100px; }
    #blog h3 strong {
      display: block; }
  #blog h4, #blog .rss-itemtitle {
    padding-top: 20px; }
    #blog h4 a, #blog .rss-itemtitle a {
      color: #151416; }
  #blog p, #blog .rss-itemdesc {
    color: #151416; }
  #blog .button.float-right {
    margin-top: 100px; }
  #blog .rss-readmore {
    position: absolute;
    bottom: 20px;
    display: block;
    border: 1px solid #151416;
    font: 18px "Margon", Times;
    color: #151416;
    padding: 15px 25px;
    left: 30%; }

#contato {
  background: url("../img/bg4.jpg") center center no-repeat;
  background-size: cover;
  padding: 150px 0 0; }
  #contato h4 {
    font: 18px "Margon", Times;
    color: #333333; }
  #contato form {
    background: rgba(255, 255, 255, 0.5);
    padding: 25px; }

@media (max-width: 790px) {
  .row {
    flex-direction: column; }

  .column {
    flex: 1;
    max-width: 100%; }

  #header {
    height: 250px; }

  .logo {
    background-size: 100%;
    width: 318px;
    height: 45px; }

  #primary-nav {
    height: 73px;
    line-height: 73px; }
    #primary-nav .logo {
      background-size: auto 100%;
      width: 48px; }
    #primary-nav .column:first-of-type {
      display: none; }
    #primary-nav ul li {
      font-size: 18px; }
      #primary-nav ul li:after {
        padding: 0 15px; }

  .darker .column, .rss-entry {
    margin: 0 0 20px 0;
    padding: 0 10px 90px 10px; }
    .darker .column img, .rss-entry img {
      display: none; }

  .row .column.column-50 {
    flex: 1;
    max-width: 100%; }

  #blog .rss-content {
    flex-direction: column; }

  #servicos .column {
    padding-top: 20px; }

  .darker .column p.align-center, .rss-entry p.align-center, .rss-itemtitle {
    width: 100%; } }

/*# sourceMappingURL=site.css.map */
