@import "fonts";

// Variables
$font-family: "Margon", Times;
$darker: #151416;
$gold: #FFE59A;
$light: #B3B3B3;
$half-gray: #333333;

// Theme adaptations
h2{
	font:36px $font-family;
}
h3{
	font:21px $font-family;
}
h4, .rssincl-itemtitle{
	font: 21px arial;
}
p{
	font: 14px/21px arial;
}
ul{
	padding: 0;
	li{
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
}
.button, button{
	border-radius: 0;
	border: 1px solid $darker;
	font:18px $font-family;
	color:$darker;
	padding: 15px 25px;
	background: none;
	height: auto;
	text-transform: none;
	margin: 0 auto;
}
.align-center{
	text-align: center
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], textarea, select{
	border-radius: 0;
	border-color: $darker;
}
hr{
	color: $half-gray;
	background-color: $half-gray;
	border-color: $half-gray;
}

// Common 
.logo{
	width: 547px;
	height: 83px;
	background: url("../img/logo.png") 0 0 no-repeat;
	text-indent: -999px;
	overflow: hidden;
	margin-bottom: 30px
}

#primary-nav{
	background: $darker;
	height: 93px;
	line-height: 93px;
	transition: all 0.5s;
	.logo{
		opacity: 0;
		width: 300px;
		background-size: 100%;
		height: 43px;
		margin: 13px 0;
		transition: all 0.5s;
		display: block;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		white-space: nowrap;
		li{
			display: inline-block;
			font:21px $font-family;
			color: $gold;
			&:after{
				font-family:arial;
				content: ".";
				padding:0 30px;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			a{
				color:$gold;
			}
		}
	}
}

#wrap.fixed{
	#primary-nav{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 10;
		height: 73px;
		line-height: 73px;
		.logo{
			opacity: 1;
		}
		ul{
			li{
				font-size: 18px;
				a:focus{
					outline: none;
					color: #FFF
				}
			}
		}
	}
	section{
		padding-top: 73px;
	}
}
