@import "config";

.page__blog{
	padding-top: 74px;
	background: url("../img/bg3.jpg") 0 0 no-repeat fixed;
	background-size: 100% 100%;
	a{
		color: $darker;
	}
	article{
		background: rgba(179,179,179,0.5);
		padding: 30px;
		margin-top: 30px
	}
	.page__blog--list{
		img{
			max-width: 100%;
		}
		p, caption, li{
			margin-bottom: 15px;
			color: $half-gray;
		}
		blockquote{
			font:21px $font-family;
			color: $half-gray;
			border-color: $half-gray;
		}
		footer{
			font-size: 12px;
			font-style: italic;
			border-top: 1px solid #606c76;
			padding-top: 10px;
			color: #606c76;
			margin-top: 10px
		}
	}
	.tags{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: inline;
		}
	}
	&--footer{
		margin-top: 15px;
		padding: 15px 0;
		color: $half-gray;

	}
}
