@import "config";

#header{
	background: url("../img/topo.jpg") center 0 no-repeat;
	background-size: cover;
	height: 578px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
}

// Services
#servicos{
	background: url("../img/bg1.jpg") 0 0 no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	&:before{
		width: 100%;
		height: 459px;
		background: gray;
		content: "";
		display: block;
		position: absolute;
		opacity: 0.5;
	}
	h2{
		font: 32px/38px $font-family;
		text-align: center;
		color: $darker;
		padding: 70px 0;
		strong{
			font-size: 50px;
			display: block;
		}
	}
	h3{
		color: $darker;
		font-size: 21px;
		strong{
			font-weight: bold;
			text-transform: uppercase;
			display: block
		}
	}
	p, li{
		color: $darker;
	}	
}

.darker .column, .rss-entry{
	background: rgba(204,204,204,0.7);
	margin: 0 15px;
	padding-bottom: 100px;
	position: relative;
	img{
		margin: 0 -8px 10px;
		width: 105.9%;
	}
	p.align-center{
		position: absolute;
		bottom: 0;
		width: 315px;
		text-align: center;
	}
	
}
// About us
#perfil{
	background: url("../img/bg2.jpg") center center no-repeat;
	background-size: cover;
	min-height: 751px;
	color: $light;
	display: flex;
	align-items:center;
	h3{
		span{
			display: block
		}
	}
	.button{
		color: $light;
		border-color: $light;
	}
}


// Blog
#blog{
	background: url("../img/bg3.jpg") center center no-repeat;
	background-size: cover;
	padding:150px 0;
	.rss-content{
		display: flex;
		padding: 0;
  		width: 100%;
	}
	.rss-entry{
		// column
		display: block;
		flex: 1;
		margin-left: 0;
		max-width: 100%;
		width: 100%;
		padding: 15px 15px 70px 15px;
		position: relative;
	}
	h3{
		font-size: 36px;
		line-height: 48px;
		color: $half-gray;
		margin-bottom: 100px;
		strong{
			display: block;
		}
	}
	h4, .rss-itemtitle {
		padding-top: 20px;
		a{
			color: $darker;
		}
	}
	p, .rss-itemdesc{
		color: $darker;
	}
	.button.float-right{
		margin-top: 100px;
	}
	.rss-readmore {
		position: absolute;
		bottom: 20px;
		display: block;
		border: 1px solid $darker;
		font:18px $font-family;
		color:$darker;
		padding: 15px 25px;
		left: 30%;		
	}

}

// Contact
#contato{
	background: url("../img/bg4.jpg") center center no-repeat;
	background-size: cover;
	padding: 150px 0 0;
	h4{
		font: 18px $font-family;
		color: $half-gray;

	}
	form{
		background: rgba(255,255,255,0.5);
		padding: 25px;
	}
}

// Media queries
// Cellphone
@media (max-width: 790px) {
	.row{
		flex-direction: column;
	}
	.column{
		flex: 1;
		max-width: 100%
	}
	#header{
		height: 250px;
	}
	.logo{
		background-size: 100%;
		width: 318px;
		height: 45px
	}
	#primary-nav {
		height: 73px;
		line-height: 73px;
		.logo{
		background-size: auto 100%;
		width: 48px;
		}
		.column:first-of-type{
			display: none
		}
	 	ul li{
			font-size: 18px;
			&:after{
				padding: 0 15px;
			}
		}	
	}
	.darker .column, .rss-entry{
		margin: 0 0 20px 0;
		padding: 0 10px 90px 10px;
		img{
			display: none
		}
	}
	.row .column.column-50{
		flex: 1;
		max-width:100%;
	}
	#blog .rss-content{
		flex-direction: column;
	}

	#servicos{
		.column{
			padding-top: 20px
		}
	}

	.darker .column p.align-center, .rss-entry p.align-center, .rss-itemtitle{
		width: 100%
	}

}